html {
    background-color: $navy;
    font-size: 62.5%;
}

body {
    font-family: "Louis-George-Cafe.ttf";
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1280px; 
    margin : 0 auto;
    width: 90%;
}