.skill-container {
    padding: 100px 0; 
    color: $white;

    i {
        font-size: 6rem;
        padding: 0.5rem 0;
    }

    li:hover, 
    li:focus {
        border-bottom: 1px solid $orange; 
        transition: all 0.3s;
    }

    img {
        width: 5.5rem; 
        height: auto;
        padding: 0.5rem 0;
    }

    .jquery,
    .photoshop {
        padding: 1rem 0;
    }

    li {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        padding: 3rem 6rem;
    }

    .skill-list {
        display: flex; 
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 0; 
        margin: 0;
    }
}

@media screen and (max-width: 760px) {
    .skill-container {
        padding: 0 0 50px 0;
        text-align: center;
        li {
            padding: 3rem;
        }

    }
}

@media screen and (max-width: 480px) {
    .skill-container {
        li {
            padding: 2rem;
        }
    }
}