$orange: #fd5c4c;
$offWhite: #000;
$grey: #808291;
$gradientStart: #fe506c;
$gradientEnd: #fc6a2a;
$navy: #07011e;
$red: #ff4952;
$white: #ffffff;
$yellow: #ffb74f;
$lightNavy: #252039;
$border: 1px solid rgba(255, 255, 255, 0.201);