html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Louis-George-Cafe.ttf";
  src: url("../../assets/fonts/Louis-George-Cafe.ttf");
}
@font-face {
  font-family: "Louis-George-Cafe-Bold.ttf";
  src: url("../fonts/Louis-George-Cafe-Bold.ttf");
}
@font-face {
  font-family: "Louis-George-Cafe-Light.ttf";
  src: url("../fonts/Louis-George-Cafe-Light.ttf");
}
html {
  background-color: #07011e;
  font-size: 62.5%;
}

body {
  font-family: "Louis-George-Cafe.ttf";
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 90%;
}

img {
  max-width: 100%;
}

h3 {
  color: #ff4952;
  font-size: 2.5rem;
}

h4 {
  font-size: 6rem;
  padding: 2rem 0;
  color: #ffffff;
}

html {
  background-color: #07011e;
  background-image: url("../../assets/images/Lines.svg");
}

body {
  font-family: "Louis-George-Cafe.ttf";
  overflow: scroll;
}

@media screen and (max-width: 760px) {
  h3,
h4 {
    text-align: center;
  }

  h4 {
    font-size: 4rem;
  }
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.201);
  -webkit-animation: 0.5s ease-out 0s 1 slideInFromTop;
          animation: 0.5s ease-out 0s 1 slideInFromTop;
}

@-webkit-keyframes slideInFromTop {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInFromTop {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.5rem;
  height: 8rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffb74f;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.8rem;
  font-weight: 400;
  color: #ffffff;
}

.nav-link:hover,
.nav-link:focus {
  color: #fd5c4c;
}

.nav-logo {
  font-size: 2rem;
  font-weight: 500;
  color: #fd5c4c;
}

.resume {
  padding: 10px 15px;
  border: 1px dashed #ffb74f;
}

@media only screen and (max-width: 768px) {
  header {
    -webkit-animation: none;
            animation: none;
  }

  .nav-menu {
    position: fixed;
    top: -100%;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-bottom: 1px solid rgba(255, 255, 255, 0.201);
    background-color: #07011e;
    z-index: 99;
  }

  .nav-menu.active {
    top: 8rem;
  }

  .nav-item {
    margin: 3rem 0;
  }

  .nav-link {
    font-size: 2rem;
  }

  .nav-logo {
    font-size: 2.5rem;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}
.landing-container {
  background: url("../../assets/images/bx-home.svg") no-repeat scroll center center;
  background-size: 80%;
  background-position: 100px;
  padding: 200px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.landing-container .hero-section {
  width: 80%;
}
.landing-container h1 {
  font-size: 8rem;
  color: #ffffff;
  margin: 2rem 0;
}
.landing-container h2 {
  font-size: 2.5rem;
  line-height: 1.7em;
  color: #ffffff;
  font-weight: 400;
  margin: 2rem 0;
}
.landing-container .span {
  display: block;
  width: 50px;
  height: 5px;
  background-color: #ffb74f;
  margin-left: 5px;
}
.landing-container .red {
  color: #fd5c4c;
}
.landing-container .social-media {
  color: white;
  width: 20%;
}
.landing-container .social-media .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.landing-container .social-media .list li {
  font-size: 2rem;
  margin-top: 2rem;
  padding: 1rem;
  margin-right: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.201);
}
.landing-container .social-media .list li i {
  color: #ffffff;
}
.landing-container .social-media .list li i:hover,
.landing-container .social-media .list li i:focus {
  color: #fd5c4c;
}

@media screen and (max-width: 940px) {
  .landing-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .landing-container h1 {
    font-size: 6rem;
  }
  .landing-container .social-media {
    width: 100%;
  }
  .landing-container .social-media .list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media screen and (max-width: 760px) {
  .landing-container {
    padding: 100px 0;
  }
  .landing-container h1 {
    font-size: 4rem;
  }
  .landing-container .hero-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .landing-container .social-media {
    width: 100%;
  }
  .landing-container .social-media .list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .landing-container .hero-section {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .landing-container h2 {
    font-size: 1.8rem;
  }
  .landing-container a {
    font-size: 1.8rem;
    color: #ffffff;
  }
}
.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about-me .image-container {
  position: relative;
  width: 40%;
  margin-right: 100px;
}
.about-me .text-container {
  width: calc(40% - 100px);
  padding: 150px 0;
}
.about-me .text-container div a {
  color: #ffffff;
}
.about-me .text-container div p {
  font-size: 1.8rem;
  line-height: 1.6;
  color: #808291;
  margin-bottom: 5rem;
}
.about-me .text-container div .contact-button {
  margin: 2rem;
  text-decoration: none;
  position: relative;
}
.about-me .text-container div .contact-button span {
  color: white;
  position: relative;
  font-size: 2rem;
  top: 3px;
}
.about-me .text-container div .contact-button:hover::before {
  width: 135%;
  background: #ff4952;
}
.about-me .text-container div .contact-button::before {
  content: "";
  position: absolute;
  top: -23px;
  left: -20px;
  display: block;
  border-radius: 30px;
  background: rgba(255, 73, 82, 0);
  border: 1px solid rgba(255, 73, 82, 0.6);
  border-right: 1px solid transparent;
  width: 60px;
  height: 60px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.about-me .text-container div .fas {
  position: relative;
  color: #ffffff;
  padding-left: 10px;
  top: 3px;
  font-size: 1.5rem;
}
.about-me .profile-image {
  position: relative;
  top: 0;
  left: 100px;
  z-index: 3;
}
.about-me .profile-background {
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 2;
}
.about-me .circle {
  position: absolute;
  top: -50px;
  left: -20px;
  z-index: 1;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 20000ms;
          animation-duration: 20000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (max-width: 940px) {
  .about-me {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-me .image-container,
.about-me .text-container {
    margin: 0 auto;
    width: 80%;
  }
  .about-me .text-container {
    margin: 0;
  }

  .circle {
    left: -50px;
    z-index: 1;
  }
}
@media screen and (max-width: 760px) {
  .about-me .text-container {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  .about-me .image-container {
    margin-bottom: 5rem;
  }
  .about-me .profile-image {
    position: relative;
    top: 0;
    left: 50px;
    z-index: 3;
  }

  .profile-image,
.profile-background,
.circle {
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .about-me .circle,
.about-me .profile-background {
    display: none;
  }
}
.skill-container {
  padding: 100px 0;
  color: #ffffff;
}
.skill-container i {
  font-size: 6rem;
  padding: 0.5rem 0;
}
.skill-container li:hover,
.skill-container li:focus {
  border-bottom: 1px solid #fd5c4c;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.skill-container img {
  width: 5.5rem;
  height: auto;
  padding: 0.5rem 0;
}
.skill-container .jquery,
.skill-container .photoshop {
  padding: 1rem 0;
}
.skill-container li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  padding: 3rem 6rem;
}
.skill-container .skill-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 760px) {
  .skill-container {
    padding: 0 0 50px 0;
    text-align: center;
  }
  .skill-container li {
    padding: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .skill-container li {
    padding: 2rem;
  }
}
.portfolio-section {
  color: #ffffff;
}
.portfolio-section .project-container {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.portfolio-section .project-container .project-image {
  width: 50%;
}
.portfolio-section .project-container .project-text {
  padding-left: 50px;
  width: 50%;
}
.portfolio-section .project-container h5 {
  font-size: 3rem;
  color: #fd5c4c;
}
.portfolio-section .project-container h6 {
  font-size: 2rem;
  border-bottom: 1px solid #fd5c4c;
  display: inline-block;
}
.portfolio-section .project-container p {
  font-size: 1.8rem;
  line-height: 1.6;
  padding: 2rem 0;
}
.portfolio-section .project-container i {
  font-size: 3rem;
  padding: 0.8rem 0;
}
.portfolio-section .project-container .firebase,
.portfolio-section .project-container .jquery {
  width: 2.5rem;
  height: auto;
  padding: 0.9rem 0;
}
.portfolio-section .project-container .jquery {
  padding: 1rem 0;
}
.portfolio-section .project-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio-section .project-container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  padding: 1rem;
}
.portfolio-section .project-container a {
  font-size: 2rem;
  color: #ffffff;
  cursor: pointer;
}
.portfolio-section .project-container a:focus,
.portfolio-section .project-container a:hover {
  color: #ffb74f;
}
.portfolio-section .project-container .link li {
  margin-top: 2rem;
  margin-right: 2rem;
  -webkit-animation: neon 1s ease-in-out infinite alternate;
          animation: neon 1s ease-in-out infinite alternate;
  text-transform: uppercase;
}
@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.92), 0 0 30px #fd5c4c, 0 0 12px #fd5c4c, 0 0 21px #fd5c4c, 0 0 34px #fd5c4c, 0 0 54px #fd5c4c;
  }
  to {
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.98), 0 0 30px #fd5c4c, 0 0 12px #fd5c4c, 0 0 22px #fd5c4c, 0 0 38px #fd5c4c, 0 0 60px #fd5c4c;
  }
}
@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.92), 0 0 30px #fd5c4c, 0 0 12px #fd5c4c, 0 0 21px #fd5c4c, 0 0 34px #fd5c4c, 0 0 54px #fd5c4c;
  }
  to {
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.98), 0 0 30px #fd5c4c, 0 0 12px #fd5c4c, 0 0 22px #fd5c4c, 0 0 38px #fd5c4c, 0 0 60px #fd5c4c;
  }
}
.portfolio-section .reverse {
  margin: 100px 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.portfolio-section .reverse .project-text {
  padding-left: 0;
}
.portfolio-section .reverse .project-image {
  padding-left: 50px;
}

@media screen and (max-width: 940px) {
  .portfolio-section .project-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio-section .project-container .project-image,
.portfolio-section .project-container .project-text {
    width: 100%;
  }
  .portfolio-section .project-container .project-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio-section .project-container .project-text {
    padding: 4rem 0;
  }
  .portfolio-section .reverse {
    margin: 50px 0;
  }
  .portfolio-section .reverse .project-image {
    padding-left: 0;
  }
}
@media screen and (max-width: 760px) {
  .portfolio-section {
    text-align: center;
  }
  .portfolio-section .project-container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.other-project {
  color: #ffffff;
}
.other-project .project-body {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.other-project .card-container {
  padding: 30px;
  width: 50%;
  margin-right: 50px;
  border-radius: 10px;
  height: auto;
  background-color: #252039;
}
.other-project .card-container h5 {
  font-size: 2.5rem;
  padding: 2rem 0;
}
.other-project .card-container p {
  font-size: 1.5rem;
  color: #808291;
}
.other-project .card-container .link, .other-project .card-container .tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.other-project .card-container .link li, .other-project .card-container .tech li {
  margin-top: 2rem;
  margin-right: 2rem;
  font-size: 1.6rem;
}
.other-project .card-container .link a, .other-project .card-container .tech a {
  color: #ffffff;
  font-size: 1.6rem;
}
.other-project .card-container .link li {
  -webkit-animation: neon 1s ease-in-out infinite alternate;
          animation: neon 1s ease-in-out infinite alternate;
  text-transform: uppercase;
}
.other-project .card-container i {
  font-size: 2.5rem;
}
.other-project .card-container .jquery {
  width: 2.5rem;
}

@media screen and (max-width: 760px) {
  .other-project .project-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .other-project .project-body .card-container {
    width: 100%;
    margin: 30px 0;
  }
}
.contact {
  padding-bottom: 100px;
  color: #ffffff;
}
.contact h5 {
  font-size: 3rem;
  padding: 2rem 0;
}
.contact p {
  font-size: 2rem;
  color: #808291;
}
.contact .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact .contact-container .main-contact, .contact .contact-container form {
  width: 50%;
}
.contact .contact-container .main-contact {
  margin: auto;
}
.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #252039;
  padding: 50px;
}
.contact form textarea, .contact form input, .contact form button {
  font-family: "Louis-George-Cafe.ttf";
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.201);
  background-color: #252039;
  font-size: 20px;
  color: #ffffff;
}
.contact form label {
  padding: 3rem 0;
}
.contact form input {
  width: 100%;
  height: 50px;
}
.contact form ::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 20px;
}
.contact form ::-moz-placeholder {
  color: #ffffff;
  font-size: 20px;
}
.contact form :-ms-input-placeholder {
  color: #ffffff;
  font-size: 20px;
}
.contact form ::-ms-input-placeholder {
  color: #ffffff;
  font-size: 20px;
}
.contact form ::placeholder {
  color: #ffffff;
  font-size: 20px;
}
.contact form button {
  padding: 10px 15px;
  display: inline-block;
  background: #fd5c4c;
  font-size: 20px;
}
.contact form button:hover,
.contact form button:focus {
  background: #ffffff;
  color: #fd5c4c;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media screen and (max-width: 760px) {
  .contact h5 {
    font-size: 2.5rem;
  }
  .contact .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact .contact-container .main-contact,
.contact .contact-container form {
    width: 100%;
  }
  .contact .contact-container .main-contact {
    text-align: center;
    margin: 50px 0;
  }
}
footer {
  border-top: 1px solid rgba(255, 255, 255, 0.201);
  color: #ffffff;
  padding: 30px 0;
}
footer p {
  font-size: 2em;
}/*# sourceMappingURL=style.css.map */