@import '_setup';
@import '_vars';
@import '_font';
@import '_globalStyle';
@import '_nav';
@import '_landing';
@import '_aboutMe';
@import '_skill';
@import '_portfolio';
@import '_otherProject';
@import '_contact';

html {
    background-color: $navy;
    background-image: url('../../assets/images/Lines.svg');
}

body {
    font-family: "Louis-George-Cafe.ttf";
    overflow: scroll;
}

h3 {
        color: $red;
        font-size: 2.5rem;
    }

h4 {
    font-size: 6rem;
    padding: 2rem 0;
    color: $white;
}

@media screen and (max-width: 760px) {
    h3, h4 {
        text-align: center;
    }
    h4 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 480px) {
    
}



